/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2"), url("../fonts/roboto-v30-latin-300.woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff");
}
@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff");
}
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v30-cyrillic_latin-regular.woff2"), url("../fonts/playfair-display-v30-cyrillic_latin-regular.woff");
}
@font-face {
  font-family: "Playfair Display";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/playfair-display-v30-cyrillic_latin-700.woff2"), url("../fonts/playfair-display-v30-cyrillic_latin-700.woff");
}
@font-face {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/prata-v18-cyrillic_latin-regular.woff2"), url("../fonts/prata-v18-cyrillic_latin-regular.woff");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.btn {
  display: inline-block;
  padding: 26px 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transform: scale(1.025);
      -ms-transform: scale(1.025);
          transform: scale(1.025);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
}
@media (max-width: 575px) {
  .description {
    font-size: 14px;
  }
}

.heading {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #1B1A17;
}
@media (max-width: 575px) {
  .heading {
    font-size: 28px;
  }
}

.hr {
  border: none;
  border-top: 1px solid #8B8371;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.header {
  height: 85px;
  background-color: #FDFDFB;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .main-nav {
    position: fixed;
    top: 0;
    left: -105%;
    width: 100%;
    height: 100vh;
    background-color: rgba(253, 253, 251, 0.9);
    -webkit-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    z-index: 100;
  }
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .main-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
}
.main-nav__item {
  margin-right: 65px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 991px) {
  .main-nav__item {
    margin-right: 35px;
  }
}
.main-nav__item:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .main-nav__item {
    margin-right: 0;
    font-size: 22px;
  }
}
.main-nav__link {
  color: #555248;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.main-nav__link:hover {
  color: #D4B098;
}
.main-nav_active {
  left: 0;
}

.shopping-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shopping-icons__item {
  margin-right: 23px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.shopping-icons__item:last-child {
  margin-right: 0;
}
.shopping-icons__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.shopping-icons__search {
  height: 16px;
  width: 16px;
  background: url("../img/icons/search.svg") no-repeat center/cover;
}
.shopping-icons__hart {
  position: relative;
  width: 19px;
  height: 16px;
  background: url("../img/icons/hart.svg") no-repeat center/cover;
}
.shopping-icons__cart {
  width: 18px;
  height: 16px;
  background: url("../img/icons/cart.svg") no-repeat center/cover;
}
.shopping-icons__sticker {
  position: absolute;
  top: -4px;
  right: -8px;
}

.sticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #D4B098;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  color: #1B1A17;
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    position: relative;
    display: block;
    width: 25px;
    height: 16px;
    z-index: 100;
  }
  .burger span {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: #555248;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .burger span:last-child {
    margin-bottom: 0;
  }
  .burger_active span {
    margin-bottom: -2px;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
        -ms-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}
.section-hero {
  background-color: #FDFDFB;
}
.section-hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 236px 0;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .section-hero__container {
    padding: 180px 0;
  }
}
@media (max-width: 991px) {
  .section-hero__container {
    padding: 100px 0 200px 0;
  }
}
@media (max-width: 767px) {
  .section-hero__container {
    padding: 50px 0 100px 0;
  }
}
@media (max-width: 575px) {
  .section-hero__container {
    padding: 50px 0 250px 0;
  }
}
.section-hero__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding-left: 87px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 1;
  color: #1B1A17;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-hero__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}
@media (max-width: 767px) {
  .section-hero__content {
    padding-left: 60px;
  }
}
@media (max-width: 575px) {
  .section-hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    text-align: center;
  }
}
.section-hero__season {
  position: relative;
  margin-bottom: 16px;
  font-size: 45px;
}
@media (max-width: 991px) {
  .section-hero__season {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .section-hero__season {
    font-size: 32px;
  }
}
.section-hero__collection {
  margin-bottom: 39px;
  font-size: 30px;
}
@media (max-width: 991px) {
  .section-hero__collection {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .section-hero__collection {
    font-size: 26px;
  }
}
.section-hero__heading {
  margin-bottom: 64px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: rgba(27, 26, 23, 0.82);
}
@media (max-width: 991px) {
  .section-hero__heading {
    margin-bottom: 35px;
  }
}
.section-hero__btn {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #444240;
}
.section-hero__hr {
  position: absolute;
  top: 2px;
  left: -60px;
  width: 50px;
}
@media (max-width: 575px) {
  .section-hero__hr {
    width: 25px;
    left: -30px;
  }
}
.section-hero__image {
  position: absolute;
  top: 50%;
  right: 300px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 1199px) {
  .section-hero__image {
    right: 225px;
  }
}
@media (max-width: 991px) {
  .section-hero__image {
    right: 115px;
  }
}
@media (max-width: 767px) {
  .section-hero__image {
    right: 75px;
  }
}
@media (max-width: 575px) {
  .section-hero__image {
    right: 165px;
  }
}
.section-hero__watch-image {
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 1199px) {
  .section-hero__watch-image {
    right: 60px;
  }
}
@media (max-width: 991px) {
  .section-hero__watch-image {
    right: -35px;
  }
}
@media (max-width: 767px) {
  .section-hero__watch-image {
    right: -26px;
  }
}
@media (max-width: 575px) {
  .section-hero__watch-image {
    top: 54%;
    right: 105px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.image__container {
  position: relative;
}

.rectangle {
  width: 496px;
  height: 944px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .rectangle {
    width: 380px;
    height: 722px;
  }
}
.rectangle__semicircle {
  width: 992px;
  height: 944px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 227, 212, 0)), to(#EAE3D4));
  background: -o-linear-gradient(top, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
  mix-blend-mode: normal;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}
@media (max-width: 1199px) {
  .rectangle__semicircle {
    width: 759px;
    height: 722px;
  }
}

.watch {
  position: absolute;
  bottom: 5%;
  right: -200px;
}
@media (max-width: 1199px) {
  .watch {
    bottom: 0;
    right: -175px;
  }
}
@media (max-width: 991px) {
  .watch {
    bottom: 60px;
    right: -150px;
  }
}
@media (max-width: 767px) {
  .watch {
    bottom: 150px;
    right: -100px;
  }
}
@media (max-width: 575px) {
  .watch {
    bottom: 80px;
    right: -65px;
  }
}
.watch__container {
  position: relative;
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}
@media (max-width: 575px) {
  .watch__container {
    font-size: 14px;
  }
}
.watch__price {
  position: absolute;
  top: 18%;
  left: -50px;
}
@media (max-width: 991px) {
  .watch__price {
    display: none;
  }
}
@media (max-width: 575px) {
  .watch__price {
    top: 12%;
    display: block;
  }
}
.watch__diameter {
  position: absolute;
  bottom: 18%;
  right: -50px;
}
@media (max-width: 991px) {
  .watch__diameter {
    display: none;
  }
}
@media (max-width: 575px) {
  .watch__diameter {
    display: block;
    right: -90px;
  }
}
.watch__img {
  width: 100%;
}
@media (max-width: 1199px) {
  .watch__img {
    width: 420px;
  }
}
@media (max-width: 991px) {
  .watch__img {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .watch__img {
    width: 240px;
  }
}
@media (max-width: 575px) {
  .watch__img {
    width: 160px;
  }
}

.price__container {
  position: relative;
}
.price__hr {
  position: absolute;
  top: 2px;
  right: -60px;
  width: 50px;
}
@media (max-width: 575px) {
  .price__hr {
    right: -30px;
    width: 25px;
  }
}

.diameter__container {
  position: relative;
}
.diameter__hr {
  position: absolute;
  top: 2px;
  left: -60px;
  width: 50px;
}
@media (max-width: 575px) {
  .diameter__hr {
    left: -30px;
    width: 25px;
  }
}

.img-wrapper {
  position: relative;
}
.img-wrapper__container {
  position: relative;
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}
@media (max-width: 575px) {
  .img-wrapper__container {
    font-size: 14px;
  }
}
.img-wrapper__price {
  position: absolute;
  top: 18%;
  left: 180px;
}
@media (max-width: 1199px) {
  .img-wrapper__price {
    left: 150px;
  }
}
@media (max-width: 991px) {
  .img-wrapper__price {
    display: none;
  }
}
@media (max-width: 575px) {
  .img-wrapper__price {
    display: block;
    top: 15%;
    left: 0;
  }
}
.img-wrapper__diameter {
  position: absolute;
  bottom: 18%;
  right: -50px;
}
@media (max-width: 991px) {
  .img-wrapper__diameter {
    display: none;
  }
}
@media (max-width: 575px) {
  .img-wrapper__diameter {
    right: -93px;
    display: block;
  }
}
@media (max-width: 1199px) {
  .img-wrapper__watch {
    width: 600px;
  }
}
@media (max-width: 991px) {
  .img-wrapper__watch {
    width: 493px;
  }
}
@media (max-width: 767px) {
  .img-wrapper__watch {
    width: 345px;
  }
}
@media (max-width: 575px) {
  .img-wrapper__watch {
    width: 200px;
  }
}

.section-models {
  padding: 79px 0 66px 0;
}
@media (max-width: 991px) {
  .section-models {
    padding: 35px 0 25px 0;
  }
}
.section-models__heading {
  margin-bottom: 52px;
  text-align: center;
}

.list-watch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -17px;
}
.list-watch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0 17px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .list-watch__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 575px) {
  .list-watch__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.list-watch__see-all {
  position: absolute;
  top: -45px;
  right: 15px;
}
@media (max-width: 991px) {
  .list-watch__see-all {
    top: -35px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 30px;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 1;
  color: #1B1A17;
  background-color: #FDFDFB;
}
.card__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.card__price {
  font-family: "Prata";
  font-weight: 400;
  font-size: 12px;
  color: rgba(27, 26, 23, 0.82);
}
.card__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 19px;
  max-width: 100%;
}
.card__link {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 16px;
  color: #1B1A17;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.card__link:hover {
  color: #D4B098;
}
.card__link:hover .hr {
  border-color: #D4B098;
}
.card__hr {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.see-all__inner {
  position: relative;
}
.see-all__inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-top: 1px solid #C4C0B6;
}
@media (max-width: 991px) {
  .see-all__inner::after {
    bottom: -5px;
  }
}
.see-all__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 575px) {
  .see-all__link {
    font-size: 14px;
  }
}
.see-all__link:hover {
  color: #D4B098;
}

.section-quality {
  position: relative;
  padding: 50px 0 20px 0;
  background-color: #FDFDFB;
  overflow: hidden;
}
.section-quality::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 60%;
  background: #F7F5EF;
}
.section-quality__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-quality__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991px) {
  .section-quality__swiper {
    margin-bottom: 20px;
  }
}
.section-quality__content {
  width: 400px;
}
@media (max-width: 1199px) {
  .section-quality__content {
    width: 350px;
  }
}
@media (max-width: 991px) {
  .section-quality__content {
    width: 100%;
    text-align: center;
  }
}
.section-quality__heading {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section-quality__heading {
    margin-bottom: 20px;
  }
}
.section-quality__description {
  margin-bottom: 45px;
}
@media (max-width: 991px) {
  .section-quality__description {
    margin-bottom: 25px;
  }
}
.section-quality__btn {
  background-color: #D4B098;
}
.section-quality__first-circle {
  position: absolute;
  top: -150px;
  right: -250px;
}
.section-quality__second-circle {
  position: absolute;
  top: -50px;
  right: -620px;
}

.circle {
  width: 365.16px;
  height: 365.16px;
  border: 1px solid #D4B098;
  border-radius: 50%;
}

.circle_big {
  width: 744.38px;
  height: 744.38px;
}

.swiper__container {
  margin-bottom: 3%;
}
.swiper__arrows {
  padding-right: 10%;
  text-align: right;
}
.swiper__arrow-prev, .swiper__arrow-next {
  border: none;
  background: none;
}
.swiper__arrow-prev:hover, .swiper__arrow-next:hover {
  cursor: pointer;
}
.swiper__arrow-prev:hover path, .swiper__arrow-next:hover path {
  stroke: #D4B098;
}
.swiper__arrow-prev {
  margin-right: 10px;
}
.swiper__paging-info {
  display: inline-block;
  margin-right: 10px;
  font-family: "Prata";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.swiper__arrow-next svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.swiper__img {
  max-width: 100%;
}

.section-follow {
  padding: 80px 0 90px 0;
}
@media (max-width: 991px) {
  .section-follow {
    padding: 40px 0;
  }
}
.section-follow__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .section-follow__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991px) {
  .section-follow__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.section-follow__heading {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section-follow__heading {
    margin-bottom: 20px;
  }
}
.section-follow__description {
  margin-bottom: 120px;
  width: 380px;
}
@media (max-width: 991px) {
  .section-follow__description {
    margin-bottom: 20px;
    width: 100%;
  }
}
.section-follow__link {
  font-weight: 700;
  color: #1B1A17;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.section-follow__link:hover {
  color: #D4B098;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .list-social {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .list-social {
    margin-bottom: 25px;
  }
}
.list-social__item {
  margin-right: 18px;
}
.list-social__item:last-child {
  margin-right: 0;
}
.list-social__item svg path {
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.list-social__item:hover svg path {
  fill: #D4B098;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: auto;
}
.images__img-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1.6%;
}
.images__img-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.images__img {
  max-width: 100%;
}

.footer {
  padding: 67px 0;
  background-color: #444240;
}
@media (max-width: 575px) {
  .footer {
    padding: 50px 0;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991px) {
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 575px) {
  .footer__item {
    margin-bottom: 30px;
    width: 180px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}
.footer__item:first-child {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
@media (max-width: 767px) {
  .footer__item:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .footer__item:first-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__logo {
  margin-bottom: 23px;
}
.footer__phone {
  margin-bottom: 15px;
}
.footer__heading {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 575px) {
  .footer__heading {
    margin-bottom: 0;
    cursor: pointer;
  }
}

.phone__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.phone__link:hover {
  color: #D4B098;
}

.email__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.email__link:hover {
  color: #D4B098;
}

.about-company__item {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.about-company__item:last-child {
  margin-bottom: 0;
}
.about-company__link {
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.about-company__link:hover {
  color: #D4B098;
}

.buyers__item {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.buyers__item:last-child {
  margin-bottom: 0;
}
.buyers__link {
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.buyers__link:hover {
  color: #D4B098;
}

.payment__item {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.payment__item:last-child {
  margin-bottom: 0;
}
.payment__link {
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.payment__link:hover {
  color: #D4B098;
}

@media (max-width: 575px) {
  .footer-menu {
    display: none;
  }
  .footer-menu_active {
    display: block;
    padding-top: 32px;
  }
}